<div class="jumbotron row">
    <div class="col-md-6">
        <h1 style="font-family:'Eras ITC'">DigiGear</h1>
        <p class="lead">A training website for the Digital Age!</p>
        <p><a href="~/SchedulesView/Index" class="btn btn-primary btn-lg">Syllabus</a></p>
     </div>
    <div class="col-md-6">
        <img src="~/Images/DigiGearLogo.png" alt="Logo" width="400" height="300">
    </div>
</div>

